/* BusPage.css */
.bus-container {
    display: flex; /* Используем flexbox для размещения элементов */
    max-width: 800px;
    height: 500px; /* Устанавливаем фиксированную высоту */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    overflow-y: auto; /* Добавляем прокрутку по вертикали, если содержимое превышает высоту */
    align-items: center; /* Центрируем элементы по вертикали */
}

.bus-info {
    flex: 1; /* Занимает оставшееся пространство */
    margin-right: 30px; /* Отступ между информацией и изображением */
    padding: 20px; /* Отступ внутри карточки информации */
    background-color: #ffffff; /* Фон карточки информации */
    border-radius: 8px; /* Скругляем углы карточки */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для карточки */
    width: auto;
}

.bus-title {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: left; /* Выравниваем заголовок влево */
}

.bus-image {
    width: 400px; /* Увеличиваем ширину изображения до 400 пикселей */
    height: auto; /* Сохраняем пропорции */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тень для изображения */
    border-radius: 8px; /* Скругляем углы изображения */
}

.bus-info p {
    font-family: 'Arial', sans-serif; /* Шрифт для текста информации об автобусе */
    font-size: 16px; /* Размер шрифта */
    margin-bottom: 10px; /* Отступ между абзацами */
}

.error-message {
    color: red;
    text-align: center;
}

.loading-message {
    text-align: center;
}
