.flight-item {
    padding: 5%;
}

.search-form {
    margin-top: 20px; /* Добавляет отступ снизу формы */
    
}

.container {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}