.toggle-switch {
    display: flex;
    justify-content: space-between;
}

.toggle-switch input[type='radio'] {
    display: none; /* Скрываем стандартные радиокнопки */
}

.toggle-switch label {
    flex-grow: 1;
    padding: 10px;
    background-color: black; /* Цвет фона переключателя по умолчанию черный */
    color: white; /* Цвет текста переключателя белый */
    text-align: center;
    cursor: pointer; /* Курсор при наведении на переключатель */
    border-radius: 4;
}

.toggle-switch input[type='radio']:checked + label {
    background-color: gray; /* Цвет фона для выбранного состояния */
}

.toggle-switch label:hover {
    background-color: gray; /* Цвет фона при наведении на переключатель */
}

/* Убираем округление в месте соприкосновения меток переключателя */
.toggle-switch label:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.toggle-switch label:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
