nav {
    background-color: #282c34; /* Цвет фона навигационной панели */
    padding: 10px; /* Отступы */
    display: flex; /* Используем flexbox для размещения элементов */
    justify-content: space-between
}

ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    display: flex; /* Используем flexbox для размещения элементов */
    justify-content: end; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}

li {
    margin-right: 20px; /* Отступы между элементами */
}

a {
    color: white; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    padding: 10px 15px; /* Добавляем отступы вокруг текста */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}

li:hover {
    background-color: #444444; /* Цвет фона при наведении */
}

.back-button {
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    padding: 10px 15px; /* Отступы вокруг текста */
    background: none; /* Убираем фон кнопки */
    border: none; /* Убираем границу кнопки */
    cursor: pointer; /* Изменяем курсор на указатель */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Цвет фона при наведении */
}
